* {
    font-family: 'Dancing Script', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    background-color: #fafafa;
}

.logo {
    color: #111;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}

.logo span {
    color: #fb911f;
}

.nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background: #fafafa;
    box-shadow: inset 0px -1px 0px #c5c5c6;
}

.hamburger {
    display: none;
}

.navlinks-container a {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #111;
    display: inline-block;
    position: relative;
}

.navlinks-container a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.3s ease-out;
    background: #fb911f;
}

.navlinks-container a:hover::after {
    transform: scaleX(1);
}

section {
    padding: 100px;
}

.titre-text {
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}

.titre-text span {
    color: #fb911f;
    font-size: 1.5em;
    font-weight: 700px;
}

.titre {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu .contenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    align-items: center;
}

.menu .contenu .box {
    width: 250px;
    margin: 20px;
    border: 20px solid #fff;
    box-shadow: 20px 15px 35px rgba(0, 0, 0, 0.8);
}

.menu .contenu .box .imbox {
    background-image: url(/Users/mitch/studi/ECF/Le-Quai-Antique-test-3/Images-restaurant/menu-g1e88ae810_1920.jpg);
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 250px;
}

.menu .contenu .box .imbox img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.menu .contenu .box .text {
    padding-top: 70px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 300px;
    color: #fff;
}

.menu .contenu .box .text h3 {
    font-size: 20px;
    font-weight: 700;
}

.toreserve {
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-toreserve {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin-top: 20px;
    text-align: center;
    background-color: #fb911f;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    width: 120px;
    height: 40px;
}

.btn-toreserve a {
    text-decoration: none;
    text-align: center;
}

.btn-toreserve:hover {
    background: #d87710;
    letter-spacing: 2px;
    transition: 0.5s;
}

.horaires {
    margin-top: -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horaires span {
    font-family: Arial, Helvetica, sans-serif;
    color: #fb911f;
}

.horaires h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.horaires p {
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 900px) {
    header {
        align-items: center;
    }

    section {
        padding: 20px;
    }

    .hamburger {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        background: #fafafa;
        align-items: center;
        position: relative;
    }

    .hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background: #333;
        position: absolute;
        pointer-events: none;
        transform: opacity 0.3s 0.15s ease-out;
    }

    .hamburger span:nth-child(1),
    .hamburger span:nth-child(3) {
        transition: transform 0.3s ease-out;
    }

    .hamburger span:nth-child(1) {
        transform: translateY(7px);
    }

    .hamburger span:nth-child(3) {
        transform: translateY(-7px);
    }

    .hamburger.open span:nth-child(1) {
        transform: translate(0) rotate(135deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
        transition: opacity 0s ease-out;
    }

    .hamburger.open span:nth-child(3) {
        transform: translate(0) rotate(-135deg);
    }

    .navlinks-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: #fafafa;
        top: 100%;
        left: 0;
        transform: translate(-100%);
        height: 100vh;
        padding: 15px 50px 15px 20px;
        border-right: 1px solid #c5c5c6;
        /*border-top: 1px solid #666;*/
        transition: transform 0.3s ease-out;
    }

    .open {
        transform: translate(0%);
        transition: 0.3s;
    }

    .navlinks-container a {
        font-size: 18px;
        margin: 10px 0px;
        color: #111;
    }
}